<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Lora:ital,wght@0,400;1,400;1,600&family=Silkscreen&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css" />
    <title>Home</title>
</head>
<body>
    <!-- navbar -->
    <div class="top">
        <div class="topLeft">
            <i class="topIcon fa-solid fa-envelope"></i>
            <i class="topIcon fa-brands fa-github"></i>
            <i class="topIcon fa-brands fa-linkedin"></i>
        </div>
        <div class="topCenter">
            <ul class='topList'>
                <li class='topListItem'>HOME</li>
                <li class='topListItem'>POST</li>
                <li class='topListItem'>LOGOUT</li>
            </ul>
        </div>
        <div class="topRight">
            <i class="topUser fa-solid fa-user"></i>
            <i class="topSearch fa-solid fa-magnifying-glass"></i>
        </div>
    </div>

    <!-- content -->
    {% block content %} {% endblock %}

</body>
</html>