{% extends "base.html" %}
{% block content %} 

    <div class="login">
        <span class="loginTitle">Login</span>
        <form class="loginForm">
            <label>Email:</label>
            <input class="loginInput" type="text" placeholder="Enter your email..." />
            <label>Password:</label>
            <input class="loginInput" type="password" placeholder="Enter your password..." />
            <button class="loginButton">Login</button>
        </form>
    </div>
    
{% endblock %}